<style>
	h1, h2, h3, h4, h5, p {
		color: #666;
	}
	.avatar{
		border: 2px solid #7D7D7D;
		border-radius: 50%;

	}
	.ion-edit {
		cursor: pointer;
	}
	.ion-edit:hover{
		color: #33B5E6;
	}
	.expert-profile{
		min-height: 500px;
		max-width: 800px;
	}
	.expert-profile-skills {
		margin-left: -10px;
		min-height: 30px;
		position: relative;
	}
	.expert-profile-pic {
		border-radius: 4px;
		margin: 20px auto;
		min-width: 200px;
		min-height: 200px;
	}
	.p-lg-left{
		padding-left: 40px !important;
	}
	.o-break-word{
		word-wrap : break-word;
	}
	.o-white-space-pre-line {
		white-space: pre-line;
	}
	.air-card{
		background-color: #FFF;
		margin: 40px -40px;
		padding: 40px;
		box-shadow: 0px 0px 0px 1px #E0E0E0;
	}
	.air-card > h2 {
		line-height: 34px;
		margin-bottom: 40px;
	}
	.air-card:first-child {
		margin-top: 50px;
	}
	.circle-edit-button {
		border-radius: 50%;
		left: 10px;
		top: -5px;
		margin: 0.15em;
		background: #70CBED none repeat scroll 0% 0%;
		color: #FFF;
		padding: 5px;
		width: 20px;
		height: 20px;
		line-height: 10px;
		cursor: pointer;
		position: absolute;
		font-size: 10px;
	}
	.circle-remove-button {
		left: 40px !important;
		background-color: #666 !important;
	}
	.partial {
		min-height: 50px;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		position: relative;
	}
	.text-muted {font-size: 80%;}
	.profile_contact_useri {
		float: none;
		width: auto;
		margin-bottom: 20px;
	}
	.bg_light-green {
		background-color: rgb(24, 208, 157);
	}
	.layout-content {
		margin-top: 80px;
	}
	.bold {font-size: 17px;
font-weight: 1000;}
.resume_top-info_since {
	font-weight: 800;
	font-size: 17px;
}
</style>
<div ng-include src="'views/navbar.html'"></div>
<div class="pt-nav">

	<div class="container">	
		<div class="col-md-3">
			<h2 class="">
			</h2>
		</div>
		<div class="col-md-6">

		</div>
		<div class="col-md-3">

		</div>
	</div>
	<div class="container ng-cloak" ng-show="error">
		<h1> {{error}} </h1>
	</div>
	<div class="container expert-profile" ng-hide="error">
		<div class="has-top_margin" data-role="main_content">
 <div class="layout-shadow">
    <div class="layout-content is-white">
       <div class="grid-row">
          <div class="grid-row-inner">
             <div class="resume_section resume_top-section" data-view="resumes#top-aligner">
                <div class="resume_top-left" data-role="left_panel">
                   <div class="resume_top-photo_wrapper"><img alt="" class="resume_top-photo" ng-src="{{useri.image || 'images/ads.png'}}"></div>
                   <div class="resume_hire_block-text"><span class="resume_hire_block-availability"><span class="bold">{{useri.rate}}هزار تومان</span></span> ساعتی </div>
                   <div class="resume_hire_block-text">مترجم <span class="bold">{{useri.level}}</span></div>
                   <div class="resume_hire_block-text">ترجمه : <span class="bold">{{useri.category}}</span></div>
                </div>
                <div class="resume_top-right" data-role="right_panel">
                   <div class="resume_top-info">
                      <div class="resume_top-info_name">{{useri.fullname}}</div>
                      <div class="resume_top-info_short_description">
                         <h1 class="resume_top-info_location" ng-click="openModal('telephone_policy');">{نمایش اطلاعات تماس}</h1>
                         <div class="resume_top-info_since">{{useri.city}} ، ایران</div>
                      </div>
                      <div class="resume_top-info_bio" data-role="description">{{useri.summary}}</div>
                   </div>
                   <div class="resume_top-tags" data-max-rows="2" data-role="tags_list" style="max-height: none;">
                   	<a class="blueLink m-0" ng-repeat="tag in useri.tags" ng-href="/browse/tag/{{tag}}">
                                    {{tag}}
                            </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="grid-row">
          <div class="grid-row-inner">
             <div class="resume_section for-hire_block mobile_app-hide">
                <div class="resume_hire_block is-available">
                   <div class="resume_hire_block-actions"><a class="button is-green_candy is-default resume_top-hire_button">استخدام کنید</a></div>
                </div>
             </div>
          </div>
       </div>
       </div>
       <div data-view="resumes#wrap_up"></div>
    </div>
 </div>
</div>
<div class="layout has-top_margin expert-profile" data-role="main_content">

			<div class="col-md-12">
				<div class="air-card" ng-show="useri.resumes[0]">
					<legend>
						<span> رزومه </span>
						<span class="">
							<i class="ion-plus circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="resume_add_open('lg');"></i>
						</span>
					</legend>
					<div class="" data-ng-hide="useri.resumes[0].title">
						<strong>
							رزومه ای وجود ندارد 
						</strong>
					</div>
					<div class="" data-ng-show="useri.resumes[0].title">
						<div class="partial" data-ng-repeat="resume in useri.resumes track by $index">
							<span class="col-md-9">
								<strong>
									{{resume.title}}
								</strong>
								| 
								<strong>
									{{resume.category}}
								</strong>
							</span>
							<span class="col-md-3 text-muted">
								{{resume.finish}} - {{resume.start}}
							</span>
							<span class="col-md-9 text-muted">
								{{resume.desc}}
							</span>
							<i class="ion-edit circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="resume_edit_open('lg', $index);"></i>
							<i class="ion-close circle-edit-button circle-remove-button ng-cloak" ng-show="is_edit_open" ng-click="resume_remove(resume._id);"></i>
							
						</div>
					</div>
				</div>
				<div class="air-card" ng-show="useri.educations[0]">
					<legend>
						<span> تحصیلات </span>
						<span class="">
							<i class="ion-plus circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="edu_add_open('lg');"></i>
						</span>
					</legend>
					<div class="" data-ng-hide="useri.educations[0].name">
						<strong>
							مدارکی وجود ندارد
						</strong>
					</div>
					<div class="ng-cloak" data-ng-show="useri.educations[0].name">
						<div class="partial" data-ng-repeat="edu in useri.educations track by $index">
							<span class="col-md-9">
								<strong>
									{{edu.name}}
								</strong>
							</span>
							<span class="col-md-3 text-muted">
								{{edu.finish}} - {{edu.start}}
								<i class="ion-edit circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="edu_edit_open('lg', $index);"></i>
								<i class="ion-close circle-edit-button circle-remove-button ng-cloak" ng-show="is_edit_open" ng-click="edu_remove(edu._id);"></i>
							</span>
							<span class="col-md-12 text-muted">
								{{edu.grade}} - {{edu.field}}
							</span>
						</div>
					</div>
				</div>
			</div>
       </div>
    </div>
 </div>
</div>
